USE [master]
GO
/****** Object:  Database [QLSVNhom]    Script Date: 28/9/2020 9:50:38 AM ******/
CREATE DATABASE [QLSVNhom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVNhom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSVNhom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSVNhom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSVNhom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVNhom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVNhom]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [varchar](20) NOT NULL,
	[MAHP] [varchar](20) NOT NULL,
	[DIEMTHI] [varbinary](255) NULL,
 CONSTRAINT [PK__BANGDIEM__D6217825F0065160] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHP] [varchar](20) NOT NULL,
	[TENHP] [nvarchar](100) NOT NULL,
	[SOTC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](20) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
	[MANV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[LUONG] [varbinary](255) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](255) NOT NULL,
	[PUBKEY] [varchar](20) NOT NULL,
 CONSTRAINT [PK__NHANVIEN__603F51145308245D] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MALOP] [varchar](20) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](256) NOT NULL,
 CONSTRAINT [PK__SINHVIEN__60228A2819AE1718] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST](
	[TEST] [varbinary](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BANGDIEM] ([MASV], [MAHP], [DIEMTHI]) VALUES (N'SV01', N'HP01', 0x4D7353316930356C4732744C6B307473497871346241454F6749447754496F47754A3177445A524A744A6E736A6261574B735538304E4674383241415A674B3461477146346D326B4933554178746D6132566F35796C4368706D7548515447516D705859356A6579332B314163425243723137376E642F513875716147652B354F6A3753743266766C533566734B6C632B567645623846443872303153427A38654678322F6D4137467A773D)
GO
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'HP01', N'AN TOAN MANG', NULL)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'HP02', N'LAP TRINH MANG', NULL)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'HP03', N'LAP TRINH JAVA', NULL)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'AT17', N'AN TOAN THONG TIN D17', N'NV01')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'CN17', N'CONG NGHE D17', N'NV02')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'NV01', N'NGUYEN VAN A', N'VNA@', 0x534C68426556624F445243692F43574B75556139717742336A484A32684F664C467A6D4167463468734C67796F5232477579716539415267694D6F597932484C38393163336B6372662B2B6A343937346549526F30413D3D, N'NVA', 0x38316665386266653837353736633365636232323432366638653537383437333832393137616366, N'NVA\publicKey.rsa')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'NV02', N'NGUYEN VAN B', N'VNA@', 0x67356B683431487150634B6F414363425A6153364E78617269424853525169714A2F6351472B47514B2B7A78425A72646D524C68413037377161754A566D4B6D6265597A5938727851514F3339767768476A395671773D3D, N'NVB', 0x38316665386266653837353736633365636232323432366638653537383437333832393137616366, N'NVB\publicKey.rsa')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV01', N'NGUYEN VAN A', CAST(N'2020-09-03T18:46:40.000' AS DateTime), N'SDF', N'AT17', N'SV01', 0x6532666337313463343732376565393339356633323463643265376633333166)
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV04', N'NGUYEN VAN A', CAST(N'2020-09-09T18:44:04.000' AS DateTime), N'SDF', N'AT17', N'SV01', 0x6532666337313463343732376565393339356633323463643265376633333166)
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV100', N'NGUYEN VAN A', CAST(N'2020-09-04T00:00:00.000' AS DateTime), N'FFDS', N'CN17', N'SV100', 0x6532666337313463343732376565393339356633323463643265376633333166)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SINHVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [IX_SINHVIEN] UNIQUE NONCLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_HOCPHAN] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HOCPHAN] ([MAHP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_HOCPHAN]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_NHANVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADMIN_EDIT_NHANVIEN_USN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ADMIN_EDIT_NHANVIEN_USN](
	@MANV VARCHAR(20) ,
	@LUONG VARCHAR(256),
	@TENDN NVARCHAR(100)
) AS
BEGIN
	UPDATE NHANVIEN
	SET MANV = @MANV, LUONG = CONVERT(VARBINARY(256),@LUONG)
	WHERE TENDN = @TENDN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_PUBLIC_ENCRYPT_BANGDIEM]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DEL_PUBLIC_ENCRYPT_BANGDIEM]
(@MAHP VARCHAR(20),@MASV VARCHAR(20))
AS
BEGIN
DELETE FROM BANGDIEM
WHERE MAHP = @MAHP AND MASV = @MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_PUBLIC_ENCRYPT_SINHVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DEL_PUBLIC_ENCRYPT_SINHVIEN]
(
@MASV VARCHAR(25)
)
AS
BEGIN
DELETE FROM SINHVIEN WHERE MASV = @MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_BANGDIEM]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_BANGDIEM](@MASV varchar(20),@MAHP varchar(20),@DIEMTHI varchar(20))
AS
BEGIN 
INSERT INTO BANGDIEM(MAHP,MASV,DIEMTHI)
VALUES(@MASV,@MAHP,ENCRYPTBYASYMKEY(ASYMKEY_ID('RSA_1024_LAB3'),@DIEMTHI))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_BANGDIEM]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_PUBLIC_BANGDIEM] 
( @MAHP VARCHAR(20),
@MASV VARCHAR(20),
@DIEM VARCHAR(256)
)
AS
BEGIN
INSERT INTO BANGDIEM(MAHP,MASV,DIEMTHI)
VALUES(@MAHP,@MASV,CONVERT(VARBINARY(256),@DIEM))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN] (
		@MANV  VARCHAR (20) ,
		@HOTEN NVARCHAR(100) ,
		@EMAIL VARCHAR (20),
		@LUONG VARCHAR(256),--TRUOC KHI MA HOA
		@TENDN NVARCHAR(100),
		@MATKHAU VARCHAR(256), --TRUOC KHI MA HOA
		@PUBKEY VARCHAR(20)
	) 
AS
BEGIN
	

	--MÃ HÓA MẬT KHẨU SHA1

	INSERT INTO NHANVIEN(MANV,HOTEN,EMAIL,LUONG,TENDN,MATKHAU,PUBKEY)
	VALUES 
	(@MANV,@HOTEN,@EMAIL,CONVERT (VARBINARY (256),@LUONG),@TENDN,CONVERT( VARBINARY(256), @MATKHAU ),
	@PUBKEY)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_ENCRYPT_SINHVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_PUBLIC_ENCRYPT_SINHVIEN]
(@ML VARCHAR(20),
 @MASV VARCHAR(20), 
 @HOTEN NVARCHAR(100) ,
 @NGAYSINH VARCHAR(20) ,
 @DIACHI NVARCHAR(200),
 @TENDN NVARCHAR(100),
 @MATKHAU  varchar(256))
 AS
 BEGIN
 INSERT INTO SINHVIEN 
 (MALOP,MASV,HOTEN,NGAYSINH,DIACHI,TENDN,MATKHAU)
 VALUES (@ML,@MASV,@HOTEN,  CONVERT (DATETIME ,@NGAYSINH),
  @DIACHI, @TENDN,CONVERT (varbinary(256),@MATKHAU))
 
 END

 
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_NHANVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_PUBLIC_NHANVIEN] (
		@MANV  VARCHAR (20) ,
		@HOTEN NVARCHAR(100) ,
		@EMAIL VARCHAR (20),
		@LUONG INT,--TRUOC KHI MA HOA
		@TENDN NVARCHAR(100),
		@MATKHAU VARCHAR(160) --TRUOC KHI MA HOA
	) AS
BEGIN
	DECLARE @MK_ENCR VARBINARY(255)
	DECLARE @LUONG_ENCR  VARBINARY(255)
	DECLARE @PUBKEY  VARCHAR(20)

	--MÃ HÓA MẬT KHẨU SHA1
	SET @MK_ENCR = HASHBYTES('SHA1', @MATKHAU )
	--PUBLIC KEY LƯU TRỮ KHÓA CÔNG KHAI LÀ MANV
	SET @PUBKEY = @MANV
	--MÃ HÓA LƯƠNG RSA512
	--SET  @LUONG_ENCR = EncryptByAsymKey (AsymKey_ID(@PUBKEY),(CONVERT(VARBINARY(53),@LUONG)))
	SET  @LUONG_ENCR = EncryptByAsymKey (AsymKey_ID(N'RSA_1024_LAB3'),CONVERT( VARCHAR(255),@LUONG))
	INSERT INTO NHANVIEN(MANV,HOTEN,EMAIL,LUONG,TENDN,MATKHAU,PUBLICKEY)
	VALUES 
	(@MANV,@HOTEN,@EMAIL,@LUONG_ENCR,@TENDN,@MK_ENCR,@PUBKEY)

END

GO
/****** Object:  StoredProcedure [dbo].[SP_INS_SINHVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_SINHVIEN] ( @MASV NVARCHAR(20) ,
 @HOTEN NVARCHAR(100) ,
 @NGAYSINH DATETIME ,
 @DIACHI NVARCHAR(200),
 @MALOP VARCHAR (20) ,
 @TENDN NVARCHAR(100),
 @MATKHAU  varchar(32)  )
 AS
 BEGIN
 DECLARE @MK VARBINARY(255)
 
SET @MK = HASHBYTES('MD5', @MATKHAU )
 INSERT INTO SINHVIEN(MASV,HOTEN,NGAYSINH,DIACHI,MALOP,TENDN,MATKHAU)
 VALUES(@MASV,@HOTEN,@NGAYSINH,@DIACHI, @MALOP,@TENDN,@MK)
 END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_BANGDIEM]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_BANGDIEM] 
AS
BEGIN
SELECT MASV,MAHP,CONVERT (VARCHAR(20), DecryptByASYMKEY(ASYMKEY_ID('RSA_1024_LAB3'),DIEMTHI)) AS DIEM
FROM BANGDIEM 
END




GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_ENCRYPT_BANGDIEM]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_ENCRYPT_BANGDIEM](@MASV VARCHAR(20))
AS
BEGIN
SELECT BANGDIEM.MAHP,HOCPHAN.TENHP,CONVERT(VARCHAR(256),BANGDIEM.DIEMTHI)AS DIEMTHI
FROM BANGDIEM,HOCPHAN
WHERE MASV  = @MASV AND BANGDIEM.MAHP = HOCPHAN.MAHP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------
MASV: N17DCAT031
HO TEN: VO PHI HUNG
LAB: 04
NGAY: 24/09/2020
----------------------------------------------------------*/ 
CREATE PROC [dbo].[SP_SEL_PUBLIC_ENCRYPT_NHANVIEN]
AS
BEGIN
	SELECT MANV, HOTEN, EMAIL, CONVERT(VARCHAR(256),LUONG) AS LUONG
	FROM NHANVIEN
END

--EXEC [SP_SEL_PUBLIC_ENCRYPT_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_BANGDIEM]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_BANGDIEM]
(@MAHP VARCHAR(20),@MASV VARCHAR(20),@DIEMTHI VARCHAR(256))
AS
BEGIN
UPDATE BANGDIEM
SET DIEMTHI = CONVERT(VARBINARY(256),@DIEMTHI)
WHERE MAHP = @MAHP AND MASV = @MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_NHANVIEN]

(

		@MANV  VARCHAR (20) ,
		@HOTEN NVARCHAR(100) ,
		@EMAIL VARCHAR (20),
		@LUONG VARCHAR(256),--TRUOC KHI MA HOA
		@TENDN NVARCHAR(100),
		@MATKHAU VARCHAR(256), --TRUOC KHI MA HOA
		@PUBKEY VARCHAR(20)
)
AS
BEGIN
UPDATE NHANVIEN
SET MANV = @MANV,HOTEN = @HOTEN,EMAIL = @EMAIL,
LUONG = CONVERT(VARBINARY(256),@LUONG),TENDN = @TENDN,MATKHAU = CONVERT (VARBINARY(256),@MATKHAU),
PUBKEY = @PUBKEY
WHERE MANV = @MANV
END

SELECT * FROM NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_SINHVIEN]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_SINHVIEN]
(@ML VARCHAR(20),
 @MASV VARCHAR(20), 
 @HOTEN NVARCHAR(100) ,
 @NGAYSINH VARCHAR(20) ,
 @DIACHI NVARCHAR(200),
 @TENDN NVARCHAR(100),
 @MATKHAU  varchar(256))
 AS
 BEGIN
UPDATE SINHVIEN 
 SET MALOP=@ML,MASV=@MASV,HOTEN=@HOTEN,NGAYSINH=CONVERT (DATETIME ,@NGAYSINH),
 DIACHI=@DIACHI,TENDN=@TENDN,MATKHAU=CONVERT (varbinary(256),@MATKHAU)
 WHERE MASV = @MASV
 END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_SINHVIEN_NONEPASS]    Script Date: 28/9/2020 9:50:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_SINHVIEN_NONEPASS]
(@ML VARCHAR(20),
 @MASV VARCHAR(20), 
 @HOTEN NVARCHAR(100) ,
 @NGAYSINH VARCHAR(20) ,
 @DIACHI NVARCHAR(200),
 @TENDN NVARCHAR(100)
 )
 AS
 BEGIN
UPDATE SINHVIEN 
 SET MALOP=@ML,MASV=@MASV,HOTEN=@HOTEN,NGAYSINH=CONVERT (DATETIME ,@NGAYSINH),
 DIACHI=@DIACHI,TENDN=@TENDN
  WHERE MASV = @MASV
 END
GO
USE [master]
GO
