USE [QLSVNhom]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADMIN_EDIT_NHANVIEN_USN]    Script Date: 28/09/2020 9:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ADMIN_EDIT_NHANVIEN_USN](
	@MANV VARCHAR(20) ,
	@LUONG VARCHAR(256),
	@TENDN NVARCHAR(100)
) AS
BEGIN
	UPDATE NHANVIEN
	SET MANV = @MANV, LUONG = CONVERT(VARBINARY(256),@LUONG)
	WHERE TENDN = @TENDN
END