
/*----------------------------------------------------------
MASV: N17DCAT015
HO TEN: ĐOÀN HỒNG ĐĂNG
LAB: 04
NGAY: 24/09/2020
----------------------------------------------------------*/
USE [QLSVNhom]
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_SINHVIEN]    Script Date: 28/9/2020 9:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_SINHVIEN] ( @MASV NVARCHAR(20) ,
 @HOTEN NVARCHAR(100) ,
 @NGAYSINH DATETIME ,
 @DIACHI NVARCHAR(200),
 @MALOP VARCHAR (20) ,
 @TENDN NVARCHAR(100),
 @MATKHAU  varchar(32)  )
 AS
 BEGIN
 DECLARE @MK VARBINARY(255)
 
SET @MK = HASHBYTES('MD5', @MATKHAU )
 INSERT INTO SINHVIEN(MASV,HOTEN,NGAYSINH,DIACHI,MALOP,TENDN,MATKHAU)
 VALUES(@MASV,@HOTEN,@NGAYSINH,@DIACHI, @MALOP,@TENDN,@MK)
 END