USE [QLSVNhom]
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 26/9/2020 4:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN] (
		@MANV  VARCHAR (20) ,
		@HOTEN NVARCHAR(100) ,
		@EMAIL VARCHAR (20),
		@LUONG VARCHAR(256),--TRUOC KHI MA HOA
		@TENDN NVARCHAR(100),
		@MATKHAU VARCHAR(256), --TRUOC KHI MA HOA
		@PUBKEY VARCHAR(20)
	) 
AS
BEGIN
	

	--MÃ HÓA MẬT KHẨU SHA1

	INSERT INTO NHANVIEN(MANV,HOTEN,EMAIL,LUONG,TENDN,MATKHAU,PUBKEY)
	VALUES 
	(@MANV,@HOTEN,@EMAIL,CONVERT (VARBINARY (256),@LUONG),@TENDN,CONVERT( VARBINARY(256), @MATKHAU ),
	@PUBKEY)

END