/*----------------------------------------------------------
MASV: N17DCAT015
HO TEN: ĐOÀN HỒNG ĐĂNG
LAB: 04
NGAY: 24/09/2020
----------------------------------------------------------*/
USE [QLSVNhom]
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_ENCRYPT_BANGDIEM]    Script Date: 28/9/2020 9:54:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_ENCRYPT_BANGDIEM](@MASV VARCHAR(20))
AS
BEGIN
SELECT BANGDIEM.MAHP,HOCPHAN.TENHP,CONVERT(VARCHAR(256),BANGDIEM.DIEMTHI)AS DIEMTHI
FROM BANGDIEM,HOCPHAN
WHERE MASV  = @MASV AND BANGDIEM.MAHP = HOCPHAN.MAHP
END