/*----------------------------------------------------------
MASV: N17DCAT015
HO TEN: ĐOÀN HỒNG ĐĂNG
LAB: 04
NGAY: 24/09/2020
----------------------------------------------------------*/
USE [QLSVNhom]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_SINHVIEN]    Script Date: 28/9/2020 9:56:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_PUBLIC_ENCRYPT_SINHVIEN]
(@ML VARCHAR(20),
 @MASV VARCHAR(20), 
 @HOTEN NVARCHAR(100) ,
 @NGAYSINH VARCHAR(20) ,
 @DIACHI NVARCHAR(200),
 @TENDN NVARCHAR(100),
 @MATKHAU  varchar(256))
 AS
 BEGIN
UPDATE SINHVIEN 
 SET MALOP=@ML,MASV=@MASV,HOTEN=@HOTEN,NGAYSINH=CONVERT (DATETIME ,@NGAYSINH),
 DIACHI=@DIACHI,TENDN=@TENDN,MATKHAU=CONVERT (varbinary(256),@MATKHAU)
 WHERE MASV = @MASV
 END